body {
    padding-top: 30px;
    background-color: black;
}


/* MAIN CONTAINER */

#player {
    width: 28rem;
    border: 0.34rem solid rgb(216, 236, 219);
    border-radius: 10px;
    background-color: rgb(12, 15, 1);
    color: rgb(237, 244, 250);
}

#player>div {}


/* TITLE SECTION */

.sect-slice {
    border: 0.08rem solid rgb(216, 236, 219);
    /* border-radius: 10px; */
}

.spread-shadow {
    box-shadow: 0 -4.2px 5px rgba(216, 236, 219, 0.486);
    /* box-shadow: 0 4.2px 5px 0 4.2px rgba(216, 236, 219, 0.486); */
}

#banner {
    background-color: rgba(8, 181, 8, 0.66);
    /* border: solid 1px #fff; */
    box-shadow: 0 4.2px 5px rgba(216, 236, 219, 0.486);
}


/* DETAILS SECTION */

#details {}

#track-picture img {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    box-shadow: 1.4px 2.2px 5px rgba(19, 211, 19, 0.954);
}


/* i SECTION  */

i {
    color: rgb(4, 110, 18);
    text-shadow: 1.4px 2.2px 3px rgba(2, 66, 2, 0.486);
}

i:hover {
    color: rgb(12, 226, 41);
    /* text-shadow: 1.4px 2.2px 3px rgba(2, 66, 2, 0.486); */
}


/* BUTTONS SECTION */

#buttons {
    background-color: rgba(224, 222, 59, 0.89);
}

#playpause-track>i {
    font-size: 3.2rem;
}

i {
    font-size: 1.8rem;
}

i.side-button {
    font-size: 1.1rem;
}


/* SLIDER SECTION */

#slider_container {
    background-color: rgba(224, 222, 59, 0.89);
}