body {
    padding-top: 30px;
    background-color: black;
}


/* MAIN CONTAINER */

#player {
    width: 28rem;
    border: 0.34rem solid rgb(216, 236, 219);
    border-radius: 10px;
    background-color: rgb(12, 15, 1);
    color: rgb(237, 244, 250);
}

#player>div {}


/* GLOBALS */

.sect-slice {
    border: 0.08rem solid rgb(216, 236, 219);
    /* border-radius: 10px; */
}


/* TITLE SECTION */

.spread-shadow {
    box-shadow: 0 -4.2px 5px rgba(216, 236, 219, 0.486);
    /* box-shadow: 0 4.2px 5px 0 4.2px rgba(216, 236, 219, 0.486); */
}

#banner {
    background-color: #008B27;
    /* border: solid 1px #fff; */
    box-shadow: 0 4.2px 5px rgba(216, 236, 219, 0.486);
}

#banner>img {
    width: 100%;
}


/* DETAILS SECTION */

#details {}

#track-picture img {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    box-shadow: 1.4px 2.2px 5px rgba(19, 211, 19, 0.954);
}


/* i OPTIONS  */

i {
    color: #11ab3d;
    text-shadow: 1.4px 2.2px 3px rgba(6, 89, 2, 0.861);
}

i:hover {
    color: #73E60C;
}


/* BUTTONS SECTION */

#buttons {
    background-color: #ffd518e9;
}

#playpause-track>i {
    font-size: 3.2rem;
}

i {
    font-size: 1.8rem;
}

i.side-button {
    font-size: 1.4rem;
}


/* SLIDER SECTION */

#slider_container {
    background-color: #ffd518e9;
}